<table class="table non_selected_products table-striped" id="before_selected_products">
    <thead>
        <tr>
            <th>Product Id</th>
            <th><!-- <input type="checkbox" class="check_all" id="check_all"><label for="check_all"><span></span></label> --></th>
            <th><h4>Results</h4></th>
            <th><button type="button" class="btn btn-small btn-primary select-all">Select All</button></th>
        </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
        <tr class="single_product <%= product.product_id %>">
            <td><%= @p_id %></td>
            <td><img src="<%= product.image %>" width="30" height="30" /></td>
            <!-- <td><input type="checkbox" id="p_<%= @p_id %>" class="select_product"><label for="p_<%= @p_id %>"><span></span></label></td> -->
            <td data-pid="<%= product.product_id %>" data-ptitle="<%= product.title %>"" data-pimage="<%= product.image %>" class="product_data"><%= product.title %></td>
            <!-- <td><a href="<%= @shop_url %><%= @p_id %>" target="_blank"><button type="button" class="btn btn-small btn-inverse">View in Store</button></a></td> -->
            <td><button type="button" class="btn btn-small btn-success add-product">Add</button></td>
        </tr>
      <% end %>
      
    </tbody>
</table>  
    