<%= form_with(model: advance_setting, local: true, :class => "form-horizontal funnel-form") do |form| %>
  <% if advance_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advance_setting.errors.count, "error") %> prohibited this advance_setting from being saved:</h2>

      <ul>
      <% advance_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="funnel-page material-form">
    <div class="row annotation-section">
      <div class="col-xs-12 col-sm-4">
        <div class="annoted-heading">Upsell Popup Colors</div>
      </div>
      <div class="col-xs-12 col-sm-8 funnel-card">
        <%= form.fields_for :upsell_css do |u| %>
          <div class="card-item">
            <div class="card-title">Title Text Color</div>
            <%= u.text_field :title_text_color, id: :uTitleTextColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["upsell_css"].to_h["title_text_color"]   %>
          </div>
          <div class="card-item">
            <div class="card-title">Buy Background Color</div>
            <%= u.text_field :buy_bg_color, id: :uBuyBgColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["upsell_css"].to_h["buy_bg_color"]  %>
          </div>
          <div class="card-item">
            <div class="card-title">Buy Text Color</div>
            <%= u.text_field :buy_text_color, id: :uBuyTextColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["upsell_css"].to_h["buy_text_color"]  %>
          </div>
          <div class="card-item">
            <div class="card-title">Cancel Background Color</div>
            <%= u.text_field :cancel_bg_color, id: :uCancelBgColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["upsell_css"].to_h["cancel_bg_color"]  %>
          </div>
          <div class="card-item">
            <div class="card-title">Cancel Background Color</div>
            <%= u.text_field :cancel_text_color, id: :uCancelTextColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["upsell_css"].to_h["cancel_text_color"]  %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row annotation-section">
      <div class="col-xs-12 col-sm-4">
        <div class="annoted-heading">Downsell Popup Colors</div>
      </div>
      <div class="col-xs-12 col-sm-8 funnel-card">
        <%= form.fields_for :downsell_css do |d| %>
          <div class="card-item">
            <div class="card-title">Title Text Color</div>
            <%= d.text_field :title_text_color, id: :dTitleTextColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["downsell_css"].to_h["title_text_color"]   %>
          </div>
          <div class="card-item">
            <div class="card-title">Buy Background Color</div>
            <%= d.text_field :buy_bg_color, id: :dBuyBgColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["downsell_css"].to_h["buy_bg_color"]  %>
          </div>
          <div class="card-item">
            <div class="card-title">Buy Text Color</div>
            <%= d.text_field :buy_text_color, id: :dBuyTextColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["downsell_css"].to_h["buy_text_color"]  %>
          </div>
          <div class="card-item">
            <div class="card-title">Cancel Background Color</div>
            <%= d.text_field :cancel_bg_color, id: :dCancelBgColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["downsell_css"].to_h["cancel_bg_color"]  %>
          </div>
          <div class="card-item">
            <div class="card-title">Cancel Background Color</div>
            <%= d.text_field :cancel_text_color, id: :dCancelTextColor,class: "form-control colorpicker w-93",required: true,value: advance_setting["downsell_css"].to_h["cancel_text_color"]  %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row text-right">
      <button type="submit" class="btn btn-funnel">Submit</button>
    </div>
  </div> 
<% end %>
