<p id="notice"><%= notice %></p>

<h1>Funnels</h1>
<a href="/funnels/new"><button class="btn btn-default add_new">Add New</button> </a>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Upsell Popup Title</th>
      <th>Downsell Popup Title</th>
      <th>Is active</th>
      <th>Shop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funnels.each do |funnel| %>
      <tr>
        <td><%= funnel.name %></td>
        <td><%= funnel.up_sell_title %></td>
        <td><%= funnel.down_sell_title %></td>
        <td><%= funnel.is_active %></td>
        <td><%= funnel.shop %></td>
        <td><%= link_to 'Show', funnel %></td>
        <td><%= link_to 'Edit', edit_funnel_path(funnel) %></td>
        <td><%= link_to 'Destroy', funnel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funnel', new_funnel_path %>
