<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="app-wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">HeroFunnels</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="/dashboard/dashboard">
                    <i class="glyphicon glyphicon-home"></i><span>DashBoard</span>
                </a>
                
            </li>
            <li class="dropdown">
                <a href="/dashboard/dashboard">
                    <i class="glyphicon glyphicon-list"></i><span>Funnels</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="<%= reports_upsell_report_path %>">
                    <i class="glyphicon glyphicon-list"></i><span>Reports</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="<%= home_contact_us_path %>">
                    <i class="glyphicon glyphicon-list"></i><span>Contact Us</span>
                </a>
            </li>
            
            
        </ul>
    </nav>
      <div class="app-content">
        <main role="main">
          <%= yield %>
        </main>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: <%= Rails.env.development? ? 'true' : 'false' %>,
        forceRedirect: <%= Rails.env.development? ? 'false' : 'true' %>
      });
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({
          
        })
      })
    </script>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
