<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Hero Funnels</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Funnels</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Training</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%#= render :partial => "layouts/shared/header" %>
    <%= yield %>
  </div>
  
  <%= render 'layouts/flash_messages' %>

  <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: "<%= ShopifyApp.configuration.api_key %>",
      shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
      debug: <%= Rails.env.development? ? 'true' : 'false' %>,
      forceRedirect: <%= Rails.env.development? ? 'false' : 'true' %>
    });
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        
      })
    })
  </script>

  <% if content_for?(:javascript) %>
    <div id="ContentForJavascript" data-turbolinks-temporary>
      <%= yield :javascript %>
    </div>
  <% end %>
</body>
</html>
